<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <section id="footer" class="footer_widget">
        <div class="video_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="main_widget">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                        <div class="footer_logo">
                                            <img src="../static/images/Healthy+.png" width ="180" alt="" />
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                            nisi ut aliquip ex ea commodo consequat.
                                        </p>

                                    </div>
                                </div>

                                <div class="col-sm-3  col-xs-12">
                                    <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                        <div class="footer_title">
                                            <h4>SITEMAP</h4>
                                            <div class="separator"></div>
                                        </div>
                                        <ul>
                                            <li><a href="tracker.html">Health Tracker</a></li>
                                            <li><a href="planner.html">Planner</a></li>
                                            <li><a href="">Healthy Eating</a></li>
                                            <li><a href="zumba.html">Events</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-3  col-xs-12">
                                    <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                        <div class="footer_title">
                                            <h4>ACHIVES</h4>
                                            <div class="separator"></div>
                                        </div>
                                        <ul>
                                            <li><a href="">January 2015</a></li>
                                            <li><a href="">February 2015</a></li>
                                            <li><a href="">March 2015</a></li>
                                            <li><a href="">April 2015</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                        <div class="footer_title">
                                            <h4>NEWSLETTER</h4>
                                            <div class="separator"></div>
                                        </div>

                                        <div class="footer_subcribs_area">
                                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                                            <form class="navbar-form navbar-left" role="search">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <button type="submit" class="submit_btn"></button>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>