{% extends 'layout.html' %}
<head>
    <link rel="stylesheet" href="./static/css/trackercss.css">
</head>
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <body>
    <h1>New Target</h1>
    <script>
    </script>
    {% if form.errors %}
        <div class="alert alert-danger">
        <ul>
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    <br>
    <br>
    <form method="POST" action="newtarget">

       <div class="form-group">
            {{ render_field(form.goals, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.category, class_="radio-inline") }}
        </div>
        <div class="form-group">
            {{ render_field(form.status, class_="radio-inline") }}
        </div>
        <div class="form-group">
            {{ render_field(form.number, class_="form-control") }}
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-info"/>
        </div>
    </form>
    </body>

{% endblock %}


