<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/css/trackercss.css">
</head>
{% extends 'layout.html' %}
    {% block body %}

     <body data-spy="scroll" data-target=".navbar" data-offset="200">
         <style>
         body{
             padding-top: 100px;
             padding-bottom: 100px;
         }
         form{
             margin:0 auto;
         }
     </style>
     <section id="signup" class="signup">
        <div class="container">
                <h2 class="signhead" align="center">EVENTS</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="sections">
                        <div class="col-sm-6">
                            <div class="single_contact_info">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p><img src="Marathon.JPG"/></p>
                                    <p><img src="silhouette-green.png"/></p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <p><h3>WELLNESS MARATHON</h3></p>
                            <p><h6>Runners heads up! The wellness marathon in back! Start from West Coast Park and finish at Mount Faber Park with your fellow sportsmen!</h6></p>
                            <p><button type="button" onclick="window.location.href='marathon.html'">Sign up here!</button></p>
                            <p><h3>ZUMBA WEEKENDS</h3></p>
                            <p><h6>Bored on the weekends? Head down to your nearest community center for Zumba! Get fit and meet new friends every weekend with our coaches Mark Lim(98563462) and Diana Koh(97685876)! See you there!</h6></p>
                            <p><button type="button" onclick="window.location.href='zumba.html'">Register here!</button></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </body>
{% endblock %}
</html>