<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<body>
<section id="home" class="home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="main_home_slider text-center">
                        <div class="single_home_slider">
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h1>WELCOME TO HEALTHY+</h1>
                                <p>We Make Healthy Fun!</p>
                                <div class="home_btn">
                                    <a href="index.html" class="btn btn-primary">LEARN MORE</a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_service_area">
                    <div class="main_service_content">
                        <div class="service_tabe">
                            <!-- Nav tabs -->
                            <ul class="service_tabe_menu nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#webdesign" aria-controls="webdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />HEALTH TRACKER</a></li>
                                <li role="presentation"><a href="#appdesign" aria-controls="appdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />PLANNER</a></li>
                                <li role="presentation"><a href="#graphicdesign" aria-controls="graphicdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />HEALTHY EATING</a></li>
                                <li role="presentation"><a href="#gamedesign" aria-controls="gamedesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />EVENTS</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="webdesign">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>HEALTH TRACKER</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>Our Health Tracker takes note of you daily calorie input and output. Checks your BMI and provides a target setter!</p>

                                                    <a href="/tracker" class="btn btn-primary">LEARN MORE</a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="../static/images/stab1.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="appdesign">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>PLANNER</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>Our Planner helps you to plan when you want to engage in fitness activites.
                                                    It is highly customizable. Just fill in you schedule to see when you can do the fitness activities.</p>

                                                    <a href="/planner" class="btn btn-primary">LEARN MORE</a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="../static/images/featureslid1.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="graphicdesign">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>HEALTHY EATING</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>We provide you with Healthy Food articles and recommend you food based on you bmi and fitness level</p>

                                                    <a href="/healthyeating" class="btn btn-primary">LEARN MORE</a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="../static/images/stab1.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="gamedesign">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>EVENTS</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>We provide Fitness events and Health Promotion events. Just Register your information and you're set!</p>

                                                    <a href="/events" class="btn btn-primary">LEARN MORE</a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="../static/images/featureslid1.jpg" alt="" />
                                                </div>
                                            </div>
                                            <!--                                                        <div id="pentagon"></div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



        <!-- START SCROLL TO TOP  -->

<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

</body>
{% endblock %}
</html>
