{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="carousel1" class="carousel slide" style="margin-top: 5%; margin-bottom: 5%">
          <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
            <li data-target="#carousel1" data-slide-to="1" class=""> </li>
            <li data-target="#carousel1" data-slide-to="2" class=""> </li>
          </ol>
          <div class="carousel-inner">
            <div class="item"> <img class="img-responsive" src="../static/carousel_1.jpg" alt="thumb">
              <div class="carousel-caption"> Healthy Meals to go with you everyday! </div>
            </div>
            <div class="item active"> <img class="img-responsive" src="../static/carousel_2.png" alt="thumb">
              <div class="carousel-caption"> Join us and learn to balance work and exercise </div>
            </div>
            <div class="item"> <img class="img-responsive" src="../static/carousel_3.png" alt="thumb">
              <div class="carousel-caption"> Carousel caption 3. Here goes slide description. Lorem ipsum dolor set amet. </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a> <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a></div>
      </div>
</div>
</div>
<h2 class="text-center">UPCOMING EVENTS</h2>
<div class="container">
  <div class="row text-center">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="thumbnail"> <img src="../static/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
        <div class="caption">
          <h3>Event name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="thumbnail"> <img src="../static/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
        <div class="caption">
          <h3>Event Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More </a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="thumbnail"> <img src="../static/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
        <div class="caption">
          <h3>Event name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<h2 class="text-center">MY HEALTH +</h2>
<hr>
<div class="container">
  <div class="col-sm-3">
    <h4>Tracker </h4>
    <p></p>
  </div>
  <div class="col-sm-3">
    <h4>Healthy Eating</h4>
  </div>
  <div class="col-sm-3">
    <h4>Exercise</h4>
  </div>
  <div class="col-sm-3"><h4>Events</h4></div>
</div>
{% endblock %}