{% extends 'layout.html' %}
{% block title %}Healthy+ - {{ session['username'] }}{% endblock %}

{% block body %}

    <div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" alt="...">
      <div class="caption">
        <h2>{{ session.name }}</h2>
        <h3>{{ session.username }}</h3>
        <p></p>
        {% if session.logged_in %}
          <p><a href="/{{ session['username'] }}/edit" class="btn btn-primary">Edit Profile</a></p>
      </div>
            </div>
  </div>
</div>

        {% else %}

        {% endif %}
{% endblock %}