{% extends 'layout.html' %}
{% block title %}Planner - Routine 17{% endblock %}
{% block body %}

    <body>

        <section>
            <div class="content">
                <div class="row">
                    <div class="col-sm-13">
                        <h2>Stretching reduces tension in you muscles</h2></br>
                        <h3>Follow this video for a full stretch workout!</h3></br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/BQ7svzep14g" frameborder="0" allowfullscreen></iframe>

                        <h3>Not enough routines to do?</h3>
                        <h3>Take a look at some fitness programs!</h3>
                        <a href="/fitnessprograms" class="btn btn-primary">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </section>

    </body>
{% endblock %}