{% extends 'layout.html' %}
{% block title %}Planner - Routine 2{% endblock %}
{% block body %}

    <body>

        <section>
            <div class="content">
                <div class="row">
                    <div class="col-sm-13">
                        <h2>Go for a 30 min jog!</h2>
                        <h5>Once you are done, let's do some dancing!</h5>

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZL_x6Q0S4ew" frameborder="0"allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

    </body>
{% endblock %}