{% extends 'layout.html' %}
{% block title %}Planner - Routine 1{% endblock %}
{% block body %}

    <body>

        <section>
            <div class="content">
                <div class="row">
                    <div class="col-sm-13">
                        <h2 class="signhead">Go for a short 15 minute jog!</h2>
                        <h6>Once you are done, you can do a Cardio Step Workout. Just follow the video here!</h6>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rV-87UCJvoQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

    </body>
{% endblock %}