<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
<link rel="stylesheet" href="./static/css/trackercss.css">
</head>
{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<body data-spy="scroll" data-target=".navbar" data-offset="200">
<link rel="stylesheet" href="./static/css/trackercss.css">
    <div class="content">
        <h1>
			Health Trackers
		</h1>
		<p>
			This page is to navigate around the different kinds of trackers we have.
		</p>
		<section id="trackers">
			<table class="functions">
				<td id="bmi1">
					<div class="bmi">
						<p>Want to check your BMI?</p>
						<a href="/bmi"><button>Click Here</button></a>
					</div>
				</td>
				<td id="foodintake1">
					<div class="foodintake">
						<p>Track your food intake here</p>
						<button>Food Intake</button>
					</div>
				</td>
				<td id="targetset">
					<div class="targetsettings">
						<p>See your target here</p>
                        <button><a href="/viewtarget">Target Settings</a></button>
                        </form>
					</div>
				</td>
			</table>
        </section>
    </div>
            <div>
            </div>

    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

</body>
{% endblock %}
</html>